<div class="banner d-flex justify-content-center">
  <div class="shadow-sm card m-2 p-3 bg-light">
    Welcome
  </div>
<h1><%= @restaurant.name %><%= @restaurant.phone_number %></h1>
<h2><%= @restaurant.category %></h2>
<h2>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.rating %></li>
  <% end %>
</ul>
</h2>
</div>


<%= link_to '<= back', restaurants_path, class: "btn btn-primary"%>
<%= link_to "Add rating", new_restaurant_review_path(@restaurant.id), class: "btn btn-primary"%>
